

.fragList {
    border: 1px solid LightSteelBlue;
    width: 1000px;
    height: 450px;
}

.fragList label {
    width: 50px;
    background-color: LightBlue;
}

.fragList .uiNumbDisp {
    width: 25px;
}

.fragPanel {
    border: 1px solid LightSteelBlue;
    padding-bottom: 5px;
    padding-top: 5px;
}

.fragPanelRow {
    padding-right: 15px;
    padding-left: 15px;
    justify-content: space-around;
}

.fragPresetCtl {
    width: 50px;
}

.fragPresetCtl:nth-of-type(even){
    border: 1px solid Yellow;
}

.fragPresetCtl .uiNumber {
    border: 1px solid LightSteelBlue;
    width: 80%;
}

.fragPresetCtl .uiString {
    border: 1px solid LightSteelBlue;
    width: 80%;
}

.fragNote {
    width: 575px;
}

.uiRow {
    padding-bottom: 5px;
    padding-top: 5px;
}

.velTunerPanel {
    border: 1px solid black;
}
