

.fragList {
    border: 1px solid LightSteelBlue;
    width: 1000px;
    height: 450px;
}

.fragList label {
    width: 50px;
    background-color: LightBlue;
}

.fragList .uiNumbDisp {
    width: 25px;
}

.fragPanel {
    border: 1px solid LightSteelBlue;
    padding-bottom: 5px;
    padding-top: 5px;
}

.fragPresetCtl {
    width: 50px;
}

.fragPresetCtl .uiNumber {
    border: 1px solid LightSteelBlue;
    width: 80%;
}

/*
.uiCheckDiv,.uiStringDiv,.uiNumberDiv label  {
    border: 1px solid black;
    width: 100px;
}
*/

.fragNote {
    width: 575px;
}

.uiRow {
    padding-bottom: 5px;
    padding-top: 5px;
}
